.telamanual{
    -fx-background-image: url("/com/br/mesademedicao/assets/img/fundo.jpg");
    -fx-background-repeat: no-repeat; 
    -fx-background-position: center center;
    -fx-background-size: cover;
}
